<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
    <link rel="stylesheet" href="index.css">
    <style>
        body{
            width: 1000px;
            height: 720px;
            background-color: aqua;
        }
        #test{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <span id="test">
        底层内容
    </span>
    <div id="backGround">
            <div id="logIn">
                    <span>登录</span>
                </div>
    </div>
</body>
</html>